{
    "presets":[
        "env",
        "stage-0",
        "react"
    ],
    "plugins":[
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }], // `style: true` for less
        [
          "transform-runtime", {
                    "helpers": false,
                    "polyfill": false,
                    "regenerator": true,
                    "moduleName": "babel-runtime"
                  }
        ]
    ]
}