.home-layout{
    // background-color: #ececec;
    .home-content{
        background-color: #ffffff;
        margin: 0 10px;
        .home-sider{
            background-color: #ffffff;
        }
    }
}