.login-layout {
    .login-header {
        background-color: #ffffff;
        width           : 100%;
        flex            : 0 0 44px;
    }

    .login-content {
        width : 100%;
        height: 80%;

        .login-form {
            width           : 400px;
            height          : 300px;
            background-color: #efefef;
            margin          : 50px auto;
            padding         : 30px;

            .login-form-button {
                width: 40%;
            }

            .login-form-register {
                margin-left: 20%;
                width      : 40%;
            }
        }
    }
}

.register-layout {
    .register-header {
        background-color: #efefef;
        width           : 100%;
        flex            : 0 0 44px;
    }

    .register-content {
        width : 50%;
        height: 80%;
        background-color: #efefef;
        margin          : 50px auto;
        padding         : 30px;
    }
}